#titlebar{
  display: flex;
  height: 45px;
  background: #233f75;
  flex-direction: row;
  font-size: 14px;

}
form>input{
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 10px;
}
.titleSpace{
  width: 10%;
}
#titleContent{
  width: 80%;
  display: flex;
  flex-direction: row;
}
#logo{
  width: 15%;
}
#about{
  width: 35%;
  display: flex;
  flex-direction: row;
}
#about>p{
  padding-left: 15px;
  margin: 0 0 10px;
  color: white;
  margin-top: 10px;
}
#loginLink{
  width: 5%;
  background: #4c87c8;
}


#loginLink{
  background: #4c87c8;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 0 10px 0 10px;
  position: relative;
  margin-right: 10px;
  line-height: 43px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 60px;
}
#forgottenLink{
  color: #fff;
  display: inline-block;
  font-family: arial,helvetica,verdana,sans-serif;
  font-size: 13px;
  padding: 12px 0;
}
#globe{
  color: white;
  font-size: 17px;
  padding: 10px;
}
#header{
  height: 80px;
  display: flex;
  flex-direction: row-reverse;
}
#header-content{
  display: flex;
  flex-direction: row-reverse;
  width: 30%;
  padding-top: 18px;
  padding-bottom: 18px
}
#header-content>p,span{
  color: #544539;
  padding: 9px 15px;
  font-family: "FS Joey Web Bold",Tahoma,Helvetica,Arial,Verdana,sans-serif;
  display: block;
  font-weight: bold;
  font-size: 15px;
}
#header-space{
  width: 15%;
}
#logo-image{
  left: 180px;
  position: absolute;
  top: 15px;
  right: 10px;
}
#page{
  width: 100%;
}
form{
  display: flex;
  flex-direction: row
}
